<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>{$Think.CONFIG.sitename}</title>
<!--link rel="stylesheet" type="text/css" href="{$Think.CONFIG.URL}/style.css" />
<script type="text/javascript" src="{$Think.CONFIG.URL}/js.js"></script-->
<meta name="keywords" content="{$Think.CONFIG.keywords}" />
<meta name="description" content="{$Think.CONFIG.description}" />
</head>
<body>
<include file="Public/header" />

<include file="Public/footer" />
</body>
</html>
