<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
									<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-0"> 父类 </label>
										<div class="col-sm-9">
										<select id="pid" name="pid" class="col-xs-10 col-sm-5">
											<option value="0">顶级分类</option>
											{$category}
										</select>
										
										<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">选择所属分类。</span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 分类名称 </label>
										<div class="col-sm-9">
											<input type="text" name="name" id="name" placeholder="分类名称" class="col-xs-10 col-sm-5" value="">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">分类名称，不能为空。</span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 排序 </label>
										<div class="col-sm-9">
											<input type="number" name="o" id="o" placeholder="排序" class="col-xs-10 col-sm-5" value="">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">越小越靠前。</span>
											</span>
										</div>
									</div>

									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info submit" type="button">
											<i class="icon-ok bigger-110"></i>
											提交
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(function(){
			$(".btn.btn-info.submit").click(function(){
				var pid = $("#pid").val();
				var name = $("#name").val();
				var o= $("#o").val();
				if(name==''){
					bootbox.dialog({
						message: "抱歉，分类名称不能为空。", 
						buttons: {
							"success" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
						}
					});
					return;
				}
				$.post("{:U('update')}", {pid:pid,name:name,o:o},
					function(data){
					if(data==1){
						bootbox.dialog({  
							message: "恭喜，新增分类成功。",  
							title: "系统提示",  
							buttons: {  
								Cancel: {  
									label: "查看",  
									className: "btn-primary",  
									callback: function () {  
											window.location.href="{:U('index')}";
									}  
								}  
								, OK: {  
									label: "继续",  
									className: "btn-primary",
								}  
							}  
						});  
						return;
					}else{
						bootbox.dialog({
							message: "抱歉，系统错误，请稍后再试。", 
							buttons: {
								"success" : {
									"label" : "确定",
									"className" : "btn-danger"
								}
							}
						});
						return;
					}
				})

			})
		})
		</script>
	</body>
</html>
